<header>
        <img class="logo" src="https://tbncdn.freelogodesign.org/d9cd6fbc-b636-46e2-abc6-d5c61b3eb6e1.png?1538496537325" alt="">
        <h1>Barbase</h1>
        <h2>The Bartender's Site</h2>
        <form role="search" id="searchBar" action="/drinks/drinkName" method="GET">
            <div>
                <input type="input" id="drinkSearch" placeholder="Find your cocktail">
                <button>Find your drink</button>
            </div>
        </form>
        <div class="navButtons">
            <a href="/"><button id="homeButton">Home</button></a> 
            <a href="/drinks"><button id="allButton">Browse all drinks</button></a> 
            <a href="/drinks/rating"><button id="topDrinks">See top drinks</button></a>  
            <a href="/users"><button id="register">Register now!</button></a>  
            <a href="/drinks/new"><button id="new">Add your own recipe!</button></a>
        </div>
    </header>