header {
    height: 180px;
    background-color: teal
}

.logo {
    height: 100px;
    width: 100px;
}

h1 {
    text-align: center;
    transform: translate(0, -100px);
    color: red;
}

h2 {
    text-align: center;
    transform: translate(0, -100px)
}

#searchBar {
    transform: translate(560px, -100px)
}

.navButtons {
    transform: translate(0, -90px);
    background-color: limegreen;
}

#homeButton {
    transform: translate(450px)
}

#allButton {
    transform: translate(450px)
}

#topDrinks {
    transform: translate(450px)
}

#register {
    transform: translate(450px)
}

#new {
    transform: translate(450px)
}