<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet" href="/style/header.css">
    <% include ./partials/heading.ejs %>
</head>
<body>
    <% include ./partials/header.ejs %>
    <img id="image" class='resize' src="https://www.thecocktaildb.com\/images\/media\/drink\/ec2jtz1504350429.jpg"
        style="background-repeat: no-repeat;
      background-size: 80%;
      width: 1000px;
      height: 610px;

      overflow: hidden;">
    <p></p>

    <script>

        var imageSources = ["https://www.thecocktaildb.com\/images\/media\/drink\/71t8581504353095.jpg",
            "https://www.thecocktaildb.com\/images\/media\/drink\/wpxpvu1439905379.jpg",
            "https://www.thecocktaildb.com\/images\/media\/drink\/3pylqc1504370988.jpg",
            "https://www.thecocktaildb.com\/images\/media\/drink\/yfhn371504374246.jpg"
        ]

        var index = 0;
        setInterval(function () {
            if (index === imageSources.length) {
                index = 0;
            }
            document.getElementById("image").src = imageSources[index];
            index++;
        }, 2000);

    </script>



</body>
</html>