<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/register.css">
    <% include ../partials/heading.ejs %>
</head>
<body>
    <% include ../partials/header.ejs %>
    <h2 class="intro">Please register to post your own recipes!</h1>
    <form action="/users" method="POST">
        <div>
            <label for="email">User Email</label>
            <input type="text" name="email" required>
        </div>
        <div>
            <label for="password">Password (Recommended at least 8 characters, including letters, numbers, and symbols)</label>
            <input type="text" name="password" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>
</html>